<h2>Please enter your name.</h2>

<form action='/new_player' method='post'> <!-- this must be post -->
  <input type="text" name="player_name" /> <!-- name can be set to anything here but you must match your params key main.rb line 24-->
  <input type="submit" class="btn"/> <!--btn class from bootstrap-->
</form> 